.page-title {
    margin-bottom: 0;
}

.bullet {
    margin-left: .5rem;
    margin-right: .5rem;
}

li {
    margin-bottom: .5rem;
}

ul {
    margin-bottom: 2rem;
}

p, li {
    line-height: 1.3em;
}

h3 {
    margin-top: 4rem;
}